@{
	ViewData["Title"] = "SaaS Service | Your SaaS Service";
	Layout = "~/Views/Shared/_LayoutMarketing.cshtml";
}
<!-- ======= Jumbotron Section ======= -->
<div class="container">
 <div class="bg-white rounded-lg">
  <div class="container-fluid py-5">
   <h1 class="display-5 fw-bold">Welcome to your SaaS Service</h1>
   <p class="col-md-12 fs-4" style="padding-left:0px;">Software as a service (SaaS) allows users to connect to and use cloud-based apps over the Internet. Common examples are email, calendaring, and office tools (such as Microsoft Office 365).</p>
   <form method="get" action="/OnboardingWorkflow/OrganizationName">
	<div style="margin-top:.75rem;">
	 <input type="submit" class="btn btn-cta btn-primary" value="GET STARTED FREE" style="width:100%; max-width:350px;" />
	</div>
   </form>
  </div>
 </div>
</div>
<!-- End Jumbotron Section -->
<!-- ======= Features Section ======= -->
<section id="services" class="services section-bg">
 <div class="container">
  <div class="section-title">
   <h2 style="color:#ffffff;">The Modern SaaS Platform</h2>
   <p style="color:#ffffff;">Get your SaaS solution up and running on Microsoft Azure</p>
  </div>

  <div class="row">
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-project-diagram"></i>
	 <h4>Easy Onboarding</h4>
	 <p>Easily subscribe and create your tenant in minutesp>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-bolt"></i>
	 <h4>Ease of Management</h4>
	 <p>Easily manage all your tenant in one place</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-user-check"></i>
	 <h4>Event Team Friendly</h4>
	 <p>Give other users the ability to manage your tenant</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-globe"></i>
	 <h4>Customer Management</h4>
	 <p>Quickly view and manage all your users in the same plac</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-times-circle"></i>
	 <h4>TBD</h4>
	 <p>TBD</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fab fa-connectdevelop"></i>
	 <h4>Secure</h4>
	 <p>Data is protected in transit and at rest</p>
	</div>
   </div>
  </div>
  <div class="row" style="margin-top:2rem;">
   <div class="col-md-12" style="text-align:center;">
	<a href="/OnboardingWorkflow/OrganizationName" class="btn btn-cta btn-primary" style="width:100%; max-width:350px;">Get Started Free</a>
   </div>
  </div>
 </div>
</section>
<!-- End Features Section -->
<!-- ======= Pricing Section ======= -->
<partial name="_Pricing" />
<!-- End Features Section -->
