@{
	ViewData["Title"] = "SaaS Service | Your SaaS Service";
	Layout = "~/Views/Shared/_LayoutMarketing.cshtml";
}
<!-- ======= Jumbotron Section ======= -->
<div class="container">
 <div class="bg-white rounded-lg">
  <div class="container-fluid py-5">
   <h1 class="display-5 fw-bold">Welcome to BadgeMeUp SaaS Service</h1>
   <p class="col-md-12 fs-4" style="padding-left:0px;">Contoso BadgeMeUp is a platform to engage with and empower your fellow colleagues, giving recognition for skills, activities, and more! 
	   Use this form to register new tenants of BadgeMeUp that can be customized for your business. Then share those badges with your users and friends.</p>
   <form method="get" action="/OnboardingWorkflow/OrganizationName">
	<div style="margin-top:.75rem;">
	 <input type="submit" class="btn btn-cta btn-primary" value="GET STARTED FREE" style="width:100%; max-width:350px;" />
	</div>
   </form>
  </div>
 </div>
</div>
<!-- End Jumbotron Section -->
<!-- ======= Features Section ======= -->
<section id="services" class="services section-bg">
 <div class="container">
  <div class="section-title">
   <h2 style="color:#ffffff;">The BadgeMeUp SaaS Platform</h2>
   <p style="color:#ffffff;">Start your SaaS solution and run it on Microsoft Azure</p>
  </div>
  <div class="row">
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-project-diagram"></i>
	 <h4>Easy Onboarding</h4>
	 <p>Subscribe and create your own BadgeMeUp in minutes</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-bolt"></i>
	 <h4>Ease of Management</h4>
	 <p>Manage all your BadgeMeUp tenants in one place</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-user-check"></i>
	 <h4>Event Team Friendly</h4>
	 <p>Allow others the ability to manage your BadgeMeUp tenant</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-globe"></i>
	 <h4>Customer Management</h4>
	 <p>View and manage all your users in the same place</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fas fa-times-circle"></i>
	 <h4>TBD</h4>
	 <p>TBD</p>
	</div>
   </div>
   <div class="col-md-6 mt-4">
	<div class="icon-box">
	 <i class="fab fa-connectdevelop"></i>
	 <h4>Secure</h4>
	 <p>Data is protected in transit and at rest</p>
	</div>
   </div>
  </div>
  <div class="row" style="margin-top:2rem;">
   <div class="col-md-12" style="text-align:center;">
	<a href="/OnboardingWorkflow/OrganizationName" class="btn btn-cta btn-primary" style="width:100%; max-width:350px;">Get Started Free</a>
   </div>
  </div>
 </div>
</section>
<!-- End Features Section -->
<!-- ======= Pricing Section ======= -->
<partial name="_Pricing" />
<!-- End Features Section -->
