@page
@using Humanizer
@model Saas.Application.Web.Pages.TenantModel
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome to your app!</h1>
<p>App Tenant ID: @(Model.tenantData?.Id.ToString() ?? "Unknown")</p>
<p>Tenant Name: @(Model.tenantData?.Name ?? "Unknown")</p>
