@page
@using Humanizer
@model Saas.Application.Web.Pages.TenantModel
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome to your app!</h1>
<p>This page fetches relevant tenant info based off of the provided route, returning public information available to any valid user of the system.</p>
<p>App Tenant ID: @(Model.tenantData?.Id.ToString() ?? "Unknown")</p>
<p>Tenant Name: @(Model.tenantData?.Name ?? "Unknown")</p>
