@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row" style="margin: 0 auto; max-width: 600px;">
    <div class="col-12">
        <div style="flex-wrap: nowrap;">
            <div class="col-4" style="padding-left: 0px;">
                <div class="number-circle" style="margin: 0 auto; text-align: center; margin-bottom: 1rem;">1</div>
                <div class="progress-bar" style="width: 100%; height: .25rem; background-color: #51a852;"></div>
                <div style="text-align: center;">Name</div>
            </div>
            <div class="col-4" style="padding-left: 5px; padding-right: 5px;">
                <div class="number-circle" style="margin: 0 auto; text-align: center; margin-bottom: 1rem; background: #cccccc;">2</div>
                <div class="progress-bar" style="width: 100%; height: .25rem; background-color: #cccccc;"></div>
                <div style="text-align: center;">Category</div>
            </div>
            <div class="col-4" style="padding-right: 0px;">
                <div class="number-circle" style="margin: 0 auto; text-align: center; margin-bottom: 1rem; background: #cccccc;">3</div>
                <div class="progress-bar" style="width: 100%; height: .25rem; background-color: #cccccc;"></div>
                <div style="text-align: center;">Complete</div>
            </div>
        </div>
        <div style="margin-top: 1rem;">
            <div style="margin-top: .5rem;">
                <div style="margin-bottom: 10px;">
                    <h3 style="margin-bottom: 0px;">What do you want to name this Subscriber?</h3>
                </div>
                <form method="post">
                    <div style="margin-top: 15px; margin-bottom: 1rem;">
                        <input type="text" name="name" class="form-control" placeholder="Start typing..." />
                    </div>
                    <div>
                        <p>The Subscriber name should be the name of your business, personal brand or organization.  You can change this later.</p>
                    </div>
                    <div style="margin-top: 1rem;">
                        <input type="submit" class="btn btn-primary" style="width:100%;" value="Next" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


