@{
    ViewData["Title"] = "Resources";
}

<h1>@ViewData["Title"]</h1>

<h4>Downloads</h4>

<div style="margin-top:2rem;">
    <a href="https://stsaasdev001.blob.core.windows.net/resources/downloads/microsoft-saas-academy-webinar-nick-pinheiro-how-to-build-a-saas-service-on-azure.pdf" target="_blank"><i class="fas fa-download"></i>&nbsp;How to Build a SaaS Service on Azure</a><br />
    Speaker:  <a href="https://www.onsubscriber.com/iamnickpinheiro" target="_blank">Nick Pinheiro</a><br />
    Type:  Slide Deck (.pdf)<br />
</div>

<div style="margin-top:2rem;">
    <a href="https://stsaasdev001.blob.core.windows.net/resources/downloads/azure-saas-architecture-diagram-multitenant-saas-microservices.pdf" target="_blank"><i class="fas fa-download"></i>&nbsp;Multitenant SaaS Micrososervice Architecture</a><br />
    Author:  <a href="https://www.onsubscriber.com/iamnickpinheiro" target="_blank">Nick Pinheiro</a><br />
    Type:  (.pdf)<br />
</div>