@model Saas.SignupAdministration.Web.Areas.Admin.Data.AddUserRequest

@{
    ViewData["Title"] = "Add User To Tenant";
}

<h1>AddUserToTenant</h1>

<h4>NewTenantRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserToTenant">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TenantId" />
            <div class="form-group">
                <input type="hidden" />
                <label asp-for="UserEmail" class="control-label"></label>
                <input asp-for="UserEmail" class="form-control" />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
              <div class="form-group">
                <input type="hidden" />
                <label asp-for="ConfirmUserEmail" class="control-label"></label>
                <input asp-for="ConfirmUserEmail" class="form-control" />
                <span asp-validation-for="ConfirmUserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", new { area = "Admin", controller="users", tenantid=Model.TenantId })
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
