.copyright {
    background-color: var(--bgColor);
    font-size: 0.7rem;
    font-weight: 500;
    height: 1.3rem; 
    color: var(--cream);
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    opacity: 0.95;
    width: 100%;

}

.copyright-left {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
}


.copyright-link:hover {
    text-decoration-line: underline;

}

@media screen and (max-width: 767px) {
    .copyright {
        gap: 1rem;
        font-size: 0.8rem;
        font-weight: 600;
        
    }

    .copyright-left {
        flex-direction: row;
        width: 100%;
        gap: .5rem;
        justify-content: center;
    }

    .copyright-right {
        display: none;
    }
}
