.s-form-parent {
    display: flex;
    flex-direction: column;

}

.support-form {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-radius: 1rem;
    /* border-style: solid;
    border-width: 1px;
    border-color: var(--blue); */
    box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 1);
    width: 1340px;
    height: 700px;
    align-self: center;
    padding: 0 1rem 1rem 1rem;
    margin-top: 2.5rem;

}
    
.s-form {
    flex: 1;
    height: max-content;
    flex-shrink: 1;
    gap: 1rem;

}

.s-header {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue);
}

.s-subheader {
    color: var(--blue);
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.s-input-names {
    display: flex;
    justify-content: space-between;

}

.name-control {
    width: 307px;
    height: 30px;
    border-radius: .2rem;
    padding-left: 1rem;
    outline: none;
    border-width: 1px;
    border-color: var(--blue);

}

.s-inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.s-button {
    background-color: var(--blue);
    color: var(--cream);
    border-style: none;
    border-radius: 10px;
    height: 60px;
    width: 75%;
    align-self: center;
    transition: all 0.3s;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .02rem;
    cursor: pointer;
    flex-grow: 1;
}

.s-button:hover {
    background-color: var(--bluehover);

}

.s-button:active {
    background-color: var(--blue);
} 
  

.s-form-control {
    height: 30px;
    width: 640px;
    border-radius: .2rem;
    padding-left: 1rem;
    outline: none;
    border-width: 1px;
    border-color: var(--blue);
}

.s-textbox {
    height: 100px;
    width: 640px;
    border-radius: .2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    outline: none;
    border-width: 1px;
    border-color: var(--blue);
    resize: none;
}

.s-description {
    font-size: 1.4rem;
}



@media screen and (max-width: 576px) {
    .support-form {
        flex-direction: column;
        height: auto;
        width: auto;
        margin-top: 1rem;
        
    }

    .s-subheader {
        margin-bottom: .5rem;
    }

    .name-control {
        width: auto;

    }

    .s-button {
        height: 50px;
        width: 70%;
    }

    .s-input-names {
        gap: .5rem;
    }
}