@{
}

<section class="pricing py-5">
    <div class="container">
        <div class="section-title">
            <h2>Subscription Pricing</h2>
            <p>Startups, ISVs and Enterprises can provide multiple Service Tiers</p>
        </div>
        <div class="row">
            <!-- Free Tier -->
            <div class="col-md-3">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Free</h5>
                        <h6 class="card-price text-center">$0<span class="period">/month</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Single Badge</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB Storage</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                        </ul>
                        <a href="/OnboardingWorkflow/OrganizationName" class="btn btn-block btn-primary text-uppercase">Sign Up For Free</a>
                    </div>
                </div>
            </div>
            <!-- Basic Tier -->
            <div class="col-md-3">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Basic</h5>
                        <h6 class="card-price text-center">$4.99<span class="period">/month</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Five custom badges</strong></li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>20GB Storage</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                        </ul>
                        <a href="/OnboardingWorkflow/OrganizationName" class="btn btn-block btn-primary text-uppercase">Sign Up</a>
                    </div>
                </div>
            </div>
            <!-- Standard Tier -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Standard</h5>
                        <h6 class="card-price text-center">$9.99<span class="period">/month</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>50 badges</strong></li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>100GB Storage</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li>
                        </ul>
                        <a href="/OnboardingWorkflow/OrganizationName" class="btn btn-block btn-primary text-uppercase">Sign Up</a>
                    </div>
                </div>
            </div>
            <!-- Premium Tier -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Premium</h5>
                        <h6 class="card-price text-center">$19.99<span class="period">/month</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited Badges</strong></li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>1TB Storage</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li>
                        </ul>
                        <a href="/OnboardingWorkflow/OrganizationName" class="btn btn-block btn-primary text-uppercase">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
