name: .NET Admin

on:
  push:
    branches: [ main ]
  # pull_request:
  #   branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0'
    - name: Restore dependencies
      run: dotnet restore src/Saas.Admin/Saas.Admin.sln
    - name: Build
      run: dotnet build src/Saas.Admin/Saas.Admin.sln --no-restore
    - name: Test
      run: dotnet test src/Saas.Admin/Saas.Admin.sln --no-build --verbosity normal
