on:
  workflow_call:
    inputs:
      dotnet_version:
        required: true
        type: string
      artifact_name:
        required: true
        type: string
      app_service_name:
        required: true
        type: string
      app_service_resource_group_name:
        required: true
        type: string
      project_build_path:
        required: true
        type: string
    secrets:
      AZURE_CREDENTIALS:
        required: true

name: Build PR and Deploy to new Slot

env:
  slot_name: pr-${{github.event.pull_request.number}}

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build dotnet Project
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v2

    - name: Setup Dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ inputs.dotnet_version }}

    - name: dotnet build and publish
      run: |
        dotnet restore ${{ inputs.project_build_path }}
        dotnet build ${{ inputs.project_build_path }} --configuration Release --no-restore 
        dotnet publish ${{ inputs.project_build_path }} -c Release -o './app'
#TODO:  insert tests here when ready.

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.3.1
      with:
        name: ${{ inputs.artifact_name }}
        path: './app'

  create-deployment-slot:
    runs-on: ubuntu-latest
    name: Create App Service Deployment Slot
    steps:
    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Azure CLI script
      uses: azure/CLI@v1
      with:
        inlineScript: |
          az webapp deployment slot create \
          --resource-group ${{ inputs.app_service_resource_group_name }} \
          --name ${{ inputs.app_service_name }} \
          --configuration-source ${{ inputs.app_service_name }} \
          --slot ${{ env.slot_name }}
  
  deploy-to-slot:
    runs-on: ubuntu-latest
    name: Deploy dotnet Project to Deployment Slot
    needs: [build, create-deployment-slot]
    steps:

    - name: Download Build Artifact
      uses: actions/download-artifact@v2.1.0
      with:
        name: ${{ inputs.artifact_name }}
        path: './app'

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'Deploy to App Service Slot'
      uses: azure/webapps-deploy@v2
      with: 
        app-name: ${{ inputs.app_service_name }}
        slot-name: ${{ env.slot_name }}
        package: './app'

